.Logo {
    max-width: 168px;
  }
  @media (max-width: 800px) {
    .Logo {
      max-width: 105px;
    }
  }
  
  .LogoMenu {
    max-width: 30px;
  }
  @media (max-width: 800px) {
    .LogoMenu {
      max-width: 30px;
    }
  }
  .LogoBusca {
    max-width: 30px;
  }
  @media (max-width: 800px) {
    .LogoBusca {
      max-width: 30px;
    }
  }


  .Menu {
    width: 100%;
    height: 94px;
    z-index: 100;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
  
    background: var(--black);
   
  }

  .MenuCategoria{
    width: 100%;
    height: 30px;
    z-index: 100;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: fixed;
    top: 94px;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
  
    background: var(--black);
    border-bottom: 2px solid var(--primary);
    color: white;

  }
  body {
    --bodyPaddingTop: 94px;
    padding-top: var(--bodyPaddingTop);
  }
  @media (max-width: 800px) {
    .Menu {
      height: 40px;
      justify-content: center;
    }
    body {
      --bodyPaddingTop: 40px;
      padding-top: var(--bodyPaddingTop);
    }
    .MenuCategoria{
      top:40px;
    }
  }
  
  .ButtonLink {
    color: var(--white);
    border: 1px solid var(--white);
    box-sizing: border-box;
    cursor: pointer;
    padding: 16px 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: opacity .3s;
  }
  .ButtonLink:hover,
  .ButtonLink:focus {
    opacity: .5;
  }
  .Link{
    
    
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
        
  }
  .Link:hover,
  .Link:focus{
    opacity:.5;
  }
  .text{
    
    margin-left: 5px;
    color: white;
   
         
  }

  .texttitulo{
    font-size: 20px;
    color: white;
  }
  @media (max-width: 800px) {
    .texttitulo{
      display: none;
    }
  }

  .button{
    max-height: 40px;
  }
  .input{
    height: 40px;
    width: 250px;
  }
  .div{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  @media (max-width: 800px) {
    a.ButtonLink {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--primary);
      border-radius: 0;
      border: 0;
      text-align: center;
    }
  }